<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.you.www"
	version 	= "1.0.0">

	<name>Perumnas</name>

	<description>
		Aplikasi Perumnas untuk membantu proses pemasaran dibangun dengan Kendo UI Mobile and PhoneGap Build.
	</description>

	<author href="build.phonegap.com"
		email="falseter@gmail.com">
		Aji Setyobudi
	</author>

	<icon src="http://perumnas.co.id/v3/webapp/uploads/logo.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
